
fieldset.scheduler-border {
    border: 1px solid #2578B4 !important;
    padding: 0em 0em 0.4em 0em !important;
    margin: 1em 01em 0 01em !important;
    border-radius:5px;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
          margin-right:2px;
          margin-left:2px;
         
}



legend.scheduler-border {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
     width:auto; /* Or auto */
    padding:0 0 0 0; /* To give a bit of padding on the left and right */
    border-bottom:none;
    color:black;
   margin:0 auto;
   font-weight:bold;

}

fieldset.scheduler-border-report {
    border: 1px groove #F8DEBD !important;
    padding-right: 0px ;
    padding-left: 0px ;
    padding-top: 0px ;
    padding-bottom: 2px ;
    margin: 0px ;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
          margin-right:2px;
           margin-left:2px
}

legend.scheduler-border-report {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
     width:auto; /* Or auto */
    padding:0 0 0 0; /* To give a bit of padding on the left and right */
    border-bottom:none;
    color:Orange;
   margin:0 auto;

}

fieldset.border {
    border: 1px groove #F8DEBD !important;
    padding: 0em 0em 0.4em 0em !important;
    margin: 1em 02em 0 02em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
          margin-right:2px;
           margin-left:2px
}

.present-address-lbl
{
    padding:0px;
    font-size:13px;
    text-align:left;
    float:left
}
.present-address-tb
{
    display:block;
    width:100%;
    height:30px;
    padding:0px;
    text-align:center;
    margin-left:5px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.present-address-tb-test
{
    display:block;
    width:100%;
    height:30px;
    padding:0px;
    text-align:center;
    margin-left:5px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.present-address-tb:focus
{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); 
}
.tb-dd-padding
{
    padding:0px
}
.label-font
{
    font-size:13px;
}

.container
{
    height:1700px;
    width:750px;
   /* border:1px solid blue;*/
    margin-left:auto;
    float:left
}

#report-header
{
    text-align:center
}

table
{
    border:1px solid gray;
}


.td-width-20
{
    width:20%;
}
.td-width-60
{
    width:60%;
}
.td-width-70
{
    width:70%;
}
.td-width-50
{
    width:50%;
}
.td-width-10
{
    width:10%;
}

.td-width-30
{
    width:30%;
}
.td-width-40
{
    width:40%;
}
.td-width-2
{
    width:2%;
}
.td-width-5
{
    width:5%;
}
.td-width-15
{
    width:15%;
}
.td-width-25
{
    width:25%;
}
.content-wrapper
{
    margin-top:20px;
}


.input-control
{
    width:150px;
}

.mktdr-control-label
{
    /*color:#3c763d;*/
    margin-bottom:0;
    vertical-align:middle;
    padding-top:7px;
    margin-bottom:0;
    text-align:right;
    padding-top:6px;
    font-size:12px;
}

.mktdr-label
{
   font-family:Verdana;
   font-size:12px; 
}
/*******************form-control********************/
.form-design
{
  margin-bottom: 15px;  
}
.form-input
{
    display:block;
    width:100%;
    height:28px;
    padding:6px 15px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 0px;
}
.form-input-Test
{
    display:block;
    padding:6px 15px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-input:focus
{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.boe-input
{
    display:block;
    width:169px;
    height:25px;
     float:right;
  /* padding:0px;*/
  margin:0px;
    font-size:13px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.boe-input:focus
{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


/****************Drop Down***********************/
.drop-down
{
    display:block;
    width:100%;
    height:35px;
    padding:6px 15px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.drop-downN
{
    display:block;
    width:80%;
    height:35px;
    padding:6px 15px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.drop-down:focus
{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.drop-down-sm
{
    display:block;
    width:83px;
    height:25px;
    padding:0px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.drop-down-sm:focus
{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
/********************col-sm-5***********************/
.mktdr-col-5
{
    position:relative;
    min-height:1px;
    padding-right:0px;
    padding-left:7px;
    float:left;
    width:41.66666667%;
    
}
/********************Control-label********************/
.mktdr-label
{
  padding-top:7px;
  margin-bottom:0;
  text-align:right;
    top: 0px;
    left: -3px;
}

/********************col-sm-5***********************/
.mktdr-col-5-lg
{
    position:relative;
    min-height:1px;
    padding-right:0px;
    padding-left:7px;
    float:left;
    width:41.66666667%;
    
}
/********************Control-label********************/
.mktdr-label-lg
{
  padding-top:7px;
  margin-bottom:0;
  text-align:left;  
}

.mktdr-checkbox
{
  display:inline-block;
  margin-top:0;
  margin-bottom:0;
  vertical-align:middle;  
}

.mktdr-btn-success
{
    color:#fff;
    background-color:#5cb85c;
    border-color:#4cae4c;
}



.test
{
    float:left;
    font-size:14px;
    margin-left:0px
}
.test-check
{
    float:left;
    margin-left:10px
}
.test-label
{
    float:left;
    font-size:14px;
    margin-left:0px;
    height: 59px;
}
.test-btn
{
    float:right;
}
.test-btnl {
    float: left;
}
.test-btn-primary
{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  height:30px;
  width:75px;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
   
}
.test-btn-primary.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.test-btn-primary:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.test-remark
{
    float:left;
}
.dd
{
 width:80px    
}
.tb
{
    width:80px
}


.litMessage
{
    color: #FF0000;
}

.p-dd
{
    display:block;
    width:100%;
    height:30px;
    padding:0px;
    text-align:center;
    margin-left:5px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.p-dd:focus
{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); 
}
.required {              /*ehsan*/
  color: red;
  width:100%;
}