<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.8.2" targetFramework="net48" />
  <package id="AngularJS.Resource" version="1.8.2" targetFramework="net48" />
  <package id="BCrypt.Net-Next" version="4.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4420.1017" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" requireReinstallation="true" />
  <package id="Npgsql" version="2.2.7" targetFramework="net48" />
  <package id="Npgsql.EntityFramework" version="2.2.7" targetFramework="net48" />
  <package id="NPOI" version="2.2.1" targetFramework="net40" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="System.Web.Helpers.Crypto" version="3.2.3" targetFramework="net40" />
</packages>