/*body 
{
	background: #b6b7bc;
	font-size: .80em;
	font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #2D2D2D;
	background-image: url('../Images/bg_err_msg1.png');
}*/


#div1
{
	background-image: url('../Images/bg_login1.png');
	width:960px;
	height:370px;
	margin-left:202px;

}
#div_login_box
{
	margin-left: 630px;
	padding-top: 20px;
	
	/*background-position: 50px 50px;
	background-image: url('../Images/gradient.png');
	background-repeat: no-repeat;*/
}

#div_decription
{
	float: left;
	width: 452px;
	border: 0px solid #CCCCCC; 
	
margin-left: 50px;
margin-top:30px;
	/*margin-bottom:50px;
	margin-right:25px;

	background-color: #FFF;
	padding-top: 50px;
	padding-left: 25px;
	min-height: 250px;
	background-position: -225px -225px;
	background-image: url('../Images/gradient.png');
	background-repeat: no-repeat;
	background-color:rgba(255,255,255,0.3);*/
}


.buttonLogin
{
	float: left;
	padding: 11px 25px;
	font-family: 'Bree Serif' , serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #FF9933;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.buttonLogin:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.buttonLogin:focus {
	position: relative;
	bottom: -1px;	
	background: #56c2e1;	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

#footer1
{
	padding-top:8px;
	padding-left:7px;
	height: 25px;
	position: relative;
	width: 953px;
	margin-left: 202px;
	color: #FFFFFF;
	background-color: #336699;
	font-size: 11px;
}

/*----------------------------*/
.login_name
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.page_login_header
{
	width: 100%;
	background-color: rgba(255,255,255,0);
	margin:0px auto 0px 0px;
    border: 0px solid #FFF;
	min-height: 100px;
}
.page_login
{
    width:960px;
    
    margin:0px auto 0px 202px;
    border: 1px solid #496077;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 6px rgba(0, 0, 0, 0.5);
	min-height:450px;
}
.loginInfoDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    width:250px;
    float:right;
}

.title
{
	font-family: Verdana;
	font-size: 20px;
	font-weight: bolder;
	color: #CCFF66;
	margin-left: 20px;
	margin-top: 10px;
}
.title_short
{
	font-family: 'Times New Roman';
	font-size: 25px;
	font-weight: bolder;
	color: #336699;
	margin-left: 202px;
	margin-top: 20px;
}
.div_decription
{
	float: left;
	width: 452px;
	border: 1px solid #CCCCCC; /*margin-top:50px;
margin-left: 50px;
	margin-bottom:50px;
	margin-right:25px;

	background-color: #FFF;*/
	padding-top: 50px;
	padding-left: 25px;
	min-height: 400px;
	background-position: -225px -225px;
	background-image: url('../Images/gradient.png');
	background-repeat: no-repeat;
	background-color:rgba(255,255,255,0.3);
}
.div_login
{
	background-position: center center;
	width: 398px;
	padding-left: 80px;
	padding-top:50px;
	/*margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;*/
	border: 1px solid #CCCCCC;
	background-image: url('../Images/gradient.png');
	background-repeat: no-repeat;
	min-height:400px;
}
.login_title
{
	font-family: 'Times New Roman' , Times, serif;
	font-size: 25px;
	font-weight: bold;
	color: #F0F0F0;
	text-transform: capitalize;
}
.login_label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #4CAF50;
}

/*-------------------Amazing Login ---------------------------*/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*******************
SELECTION STYLING
*******************/

::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

/*******************
BODY STYLING
*******************/

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/*body
{
	/*background: url('../Images/bg.png');
	background-image: url('../Images/bg_err_msg1.png');
	font-family: "HelveticaNeue-Light" , "Helvetica Neue Light" , "Helvetica Neue" , Helvetica, Arial, "Lucida Grande" , sans-serif;
	font-weight: 300;
	text-align: left;
	text-decoration: none;
	height: 500px;
	background: #FFF;
}*/

#wrapper
{
	/* Center wrapper perfectly */
	width: 320px;
	/*height: 400px;
	margin: 50px auto;*/
}

/* Download Button (Demo Only) */
.download {
	display: block;
	position: absolute;
	float: right;
	right: 25px;
	bottom: 25px;
	padding: 5px;
	
	font-weight: bold;
	font-size: 11px;
	text-align: right;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}

.download:hover {
	color: rgba(0,0,0,0.75);
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}

.download:focus {
	bottom: 24px;
}

/*
.gradient {
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	
	background: url(http://www.demo.amitjakhu.com/login-form/images/gradient.png) no-repeat;
}
*/

.gradient {
	/* Center Positioning */
	width: 600px;
	height: 600px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	z-index: -2;
	
	/* Fallback */ 
	background-image:url('../Images/gradient.png');
	background-repeat: no-repeat; 
	
	/* CSS3 Gradient */
	background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
	background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

/*******************
LOGIN FORM
*******************/

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .headerLogin {
	padding: 6px 6px 6px 10px;
	min-width:50px;
	top: 0px;
	left: 0px;
}

.login-form .headerLogin h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .headerLogin span 
{
	text-align:left;
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
	min-height:100px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:92px;	
	background: rgba(65,72,72,0.75) url('../Images/user-icon.png') no-repeat center;
}
.pass-icon {
	top:140px;	
	background: rgba(65,72,72,0.75) url('../Images/pass-icon.png') no-repeat center;
}

.content input:focus + div{
	left: -46px;
}

/* Animation */
.input, .user-icon, .pass-icon, .buttonLogin, .register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/

.login-form .footerLogin {
	padding: 15px 35px 30px 15px;
	min-height:40px;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	top: 0px;
	left: -190px;
}

/* Login button */
.login-form .footerLogin .buttonLogin {
	float:right;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footerLogin .buttonLogin:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footerLogin .buttonLogin:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.login-form .footerLogin .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footerLogin .register:hover {
	color: #3f9db8;
}

.login-form .footerLogin .register:focus {
	position: relative;
	bottom: -1px;
}

/*-------------------End Amazing Login-----------------------*/
