 .page_large
        {
            width: 1198px !important;
            margin: 15px auto 0px 80px !important;
            border: 1px solid #496077;
            -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	        box-shadow:0 0 16px rgba(0, 0, 0, 0.5);
	        background-color:#FFF;
        }

    .col_2_percent{
    width:3%;
    }
    .col_3_percent{
    width:5%;
    }
    
    .col_t_percent{
    width:10%;
    }
    
    
    .col_5_percent{
    width:7%;
    }
    .col_10_percent{
    width:14%;
    }
        .col_15_percent{
    width:20%;
    }