/* DEFAULTS
----------------------------------------------------------*/

body
{
	
	font-size: .80em;
	font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #2D2D2D;
	background-color:#C06FC0;
	background-image: url('../Images/bg_tbl_input_sub.png');
}

/*Auto Complete Textbox*/
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
}
        /* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    border:1px solid rgba(0,0,0,0.3);
}
            /* AutoComplete item */
.autocomplete_listItem
{
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
    border:1px solid rgba(0,0,0,0.3);
}
.autocomplete_listItem div
{
    float:left;
}
.autocomplete_highlightedListItem div
{
    float:left;
}

/*End Autocomplete*/

a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4CAF50;
	text-decoration: none;
}

a:link, a:visited
{
	color: #4CAF50;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    
    margin-bottom: 0px;
    margin-top:0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    margin: 20px auto 0px 202px;
    /*border: 1px solid #496077;*/
    /*-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 16px rgba(0, 0, 0, 0.5);*/
	background-color:#FFF;
}

.header
{
	position: relative;
	margin: 0px;
	padding: 0px;
	background: #4b6c9e;
	width: 100%;
	background-image: url('../Images/bg_login1.png');
	background-position:0px -200px;
	vertical-align:middle;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
	padding: 0px 0px;
	/*margin: 12px 8px 8px 8px;*/
	margin: 0px 0px 0px 0px;
	min-height: 350px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
	background-color: #3a4f63;
	width: 100%;
	background-image: url('../Images/bg_login.png');
	background-position:0px -400px;
}

div.menu
{
	padding: 0px 0px 0px 0px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
	background-color: #465c71;
	border: 1px #4e667d solid;
	color: #dde4ec;
	display: block;
	line-height: 1.35em;
	padding: 4px 20px;
	text-decoration: none;
	white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 0px 15px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear2
{
    clear: both;
}

.title
{ background-position: left;
	display: block;
	float: left;
	text-align: left;
	width: auto;
	background-image: url('../Images/logo.png');
	background-repeat: no-repeat;
	padding-left: 100px;
	
}


.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
    vertical-align:middle;
    float:left;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
/*-----------------FOOTER--------------------------*/
div.footer
{
	padding: 2px;
	height: 25px;
	position: relative;
	width: 956px;
	margin-left: 202px;
	color: #FFFFFF;
	background-color: #336699;
	font-size: 11px;
	border: 1px solid #496077;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	box-shadow:0 0 15px rgba(0, 0, 0, 0.6);
}